*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
   color: black;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2023-02/1676537575_catherineasquithgallery-com-p-izumrudnii-fon-dlya-fotoshopa-195.jpg);
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="name"],
input[type="born"],
input[type="adress"],
input[type="adress2"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  color: #3ac162;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}


.button {
  padding: 19px 175px 18px 160px;
  position: relative;
  top:-15px;
  text-decoration: none;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.button {
  padding: 19px 175px 18px 160px;
  position: relative;
  top:-15px;
  text-decoration: none;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.checked .toggle {
    display:none;
}


.checked input[type=radio]:checked ~ .toggle,
.checked input[type=checkbox]:checked ~ .toggle
{
    display:block;
}

.add {
  cursor: pointer;
}
.form input {
  display: block;
}


.privacy_block {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 15px;
  color: #FFF;
  background: #3f8b4e;
  padding: 10px 20px;
  border-top: 4px solid #d8e8dc;
  }
  /* Оформление кнопок */
  .privacy_block .close{margin-left: 25px;}
  .privacy_btn {
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-size: 13px;
  padding: 4px 12px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  background: #337AB7;
  border: 2px solid #BFE2FF;
  }
  .privacy_btn:hover {
  color: #FFF;
  }
  .privacy_btn:after,
  .privacy_btn:before {
  position: absolute;
  height: 2px;
  left: 50%;
  background: #FFF;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
  }
  .privacy_btn:before {
  top: -6px;
  }
  .privacy_btn:hover:after,
  .privacy_btn:hover:before {
  width: 100%;
  left: 0;
  }
  .privacy_block a {color:#fff;text-decoration:underline}
  .privacy_block .close a {text-decoration:none}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}